<html> 
	<head> 
        </head>
	<body>
	<div id="tocheck">
		<!--
		<a class="check" href="example_of_url">test_to_validate</a>
		-->
		<a href="http://google.co.uk">200</a>
<br />
		<a href="http://aoeuaoeuaoeuaoeuaoeuc.def">500</a>
<br />

		<a href="http://aoeuaoeuaoeuaoeuaoeuc.def">200</a>
<br />

		<a href="http://google.co.uk">404</a>
<br />

		<h1>Hi</h2>


	</div>

	<div id="checker_code">
		<script type="text/javascript">

	// And now we use jQuery to call the tester function, replacing the test with the result
	$( "a" ).each(function( index, obj )
	{
		var spec = $(this).text();
		var url = $(this).attr("href")
		// Then do the query and wait for results
		check = verify_url(spec, url)
		//And now we do the magic, replacing the text with results
		result_display = "the result: " +
		       	spec + " in " +
			url + " is: \nXX" +
			check + "XX"
		$(this).text( result_display ); 
	})
	
		</script>
	</body>
</html>
