<html> 
	<head> 
		<!--
		<script src="http://127.0.0.1:5000/static/checker.js" type="text/javascript" >
		</script>
		-->
		<script src="static/jquery-1.10.2.js"></script>
        </head>
	<body>
	<div id="tocheck">
		<!--
		<a class="check" href="example_of_url">test_to_validate</a>
		-->
		<a class="check" href="http://google.co.uk">200</a>
<br />
		<a class="check" href="http://aoeuaoeuaoeuaoeuaoeuc.def">500</a>

		<h1>Hi</h2>


	</div>
	<div id="checker_code">
		<script type="text/javascript">
 	// My functions to check remote URLs

	function httpGet(theUrl)
	{
		var xmlHttp = null;
		xmlHttp = new XMLHttpRequest();
		xmlHttp.open("GET", theUrl, false);
		request.onreadystatechange = function(){
			if (request.readyState === 4){
				if (request.status === 404) {
					alert("Oh no, it does not exist!");
					//Should be "display the button in red" or smthng
				}
			}
		};
		xmlHttp.send( null );
		return xmlHttp.responseText;
	}

	function checkRemoteUrlOnLocal( url )
	{
		local_url = "http://localhost:5000" + "/check" + "?url?encoded%20params"
		data = httpGet( local_url )
		return data
	}

	function check_callback(index, url_spec)
	{
		return "" + verify_url(url_spec, url);
		// aqui falta el pasar la url desde el href
	}

	function get_hostname()
	{
		var http = location.protocol;
		var slashes = http.concat("//");
		var host = slashes.concat(window.location.hostname);
		return host
	}


	// And now we use jQuery to call the tester function, replacing the test with the result
	$( "a" ).each(function( index, obj )
	{
		var spec = $(this).text();
		var url = $(this).attr("href")
		hostname = get_hostname()
		//And now we do the magic, replacing the text with results
		$(this).text( "the result: " + spec + " in " + url); 
	})
	
		</script>
	</body>
</html>
